.canvas {
  width: 200px;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgb(175, 168, 168);

  .text-block {
    text-align: center;

    .title {
      color: rgb(40, 26, 224)
    }

    .text {
      color: rgb(139, 133, 133)
    }
  }
}